section.product-details {
    /* margin-top: 25px; */
}

@keyframes logoGlow {
    0% {
        -webkit-filter: drop-shadow( -.75px 0px 5px #ff2222 );
        filter: drop-shadow( -.75px 0px 5px #ff2222 ); stroke:#ff2222;
    }
    50% {
       -webkit-filter: drop-shadow( -.75px 0px 1px #ff2222 );
       filter: drop-shadow( -.75px 0px 1px #ff2222 ); stroke:#ff2222;
    }
    100% {
      -webkit-filter: drop-shadow( -.75px 0px 5px #ff2222 );
      filter: drop-shadow( -.75px 0px 5px #ff2222 ); stroke:#ff2222;
    }
}

div.green-basket-logo span.green-basket-hidden-tooltip {
    display: none;
}

.green-basket-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 100;
}

.green-basket-logo:hover .green-basket-tooltip {
    visibility: visible;
}

.green-basket-bars {
    display: inline-block;
    width: 390px;
    vertical-align: top;
}

.green-basket-logo {
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
}

.green-basket-bar-container {
}

.green-basket-bar-name {
}

.recommendation-target-image {
    max-height: 75px;
    max-width: 40%;
}

.recommendation-target-arrow {
    font-size: 40px;
    margin: 0;
    transform: translate(0, -20px);
    cursor: pointer;
}

.green-basket-popup-div {
    position: relative;
    padding: 5px;
    /* border: 2px solid #5a8f00; */
    color: #333;
    background: #fff;
    border-radius: 10px;
    margin: 5px 0px;
}

.green-basket-popup-text {
    position: relative;
    margin: 0;
}

.recommendation-target-action-div {
    text-align: center;
}
