{
  "swagger": "2.0",
  "info": {
    "title": "Search API",
    "version": "1.0",
    "description": "Search API is a REST-like API which wraps the underlying ElasticSearch service for most common use cases. While this API is called the \"search\" service, in practice it acts as the main data engine for various Kesko services, providing high performance endpoints for fetching recipe, product, offer, store and article data.\r\n\r\nAPI requests are only served over HTTPS, using TLS 1.0, 1.1, and 1.2. Requests will not be honored over plaintext HTTP.\r\n\r\nUse of `accept: application/json` and `content-type: application/json` headers is required when applicable.\r\n\r\nThe API uses UTF-8 character encoding for all responses. Some fields may include characters that are not in the ASCII range.\r\n\r\nAs every other Kesko API service in this hackathon, authentication is accomplished by providing `Ocp-Apim-Subscription-Key` header with your subscription key as the value.\r\n\r\nSubmitting excessive requests to the server may result in a HTTP 429 Too Many Requests status code and temporary limitations to your Subscription. We kindly ask that you to limit the concurrency of your requests and/or insert 50 – 100 milliseconds of delay between the requests you send to the server. (i.e., 10 requests per second on average), since this environment doesn't run with the same specs as the real production instance."
  },
  "host": "kesko.azure-api.net",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/search/articles": {
      "post": {
        "description": "API for searching article data.\r\n",
        "operationId": "post-search-articles",
        "summary": "Article search.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Payload"
            },
            "description": "Request payload. Has to have at least a query or a single filter defined.\r\n\r\nNormal request, where possible `filters` are:\r\n\r\n* `ids` *Boolean filter* A Number or an Array of Numbers defining the stores that are included in the search.\r\n* `url` *Boolean filter* A String or an Array of Strings defining the article urls that are included in the search.\r\n* `category` *Boolean filter* An Object defining what article categories should be included.\r\n  * `category.id` A String or an Array of Strings representing id values of categories. These are usually small integers presented as Strings.\r\n  * `category.title` A String or an Array of String representing category names.\r\n* `slug` *Boolean filter* A String or an Array of Strings defining the article slugs that are included in the search.\r\n\r\nPossible `sortOrders` are:\r\n* `publishDate` Article search results can be sorted by publishing date, showing latest publishing dates first. The structure of the object has to be\r\n```\r\n{\r\n  \"name\": \"publishDate\"\r\n}\r\n```\r\n* Sort by custom priority. Results can be sorted by using priority list where each article can be given a specific priority number. Default priority is 0. It is given for articles missing from the list. The larger the number, the higher the priority. Articles with equal numbers are sorted by relevance. Articles whose priority is less than 0 are last in the search results, i.e. after articles that are not included in the priority list. The structure of the custom priority object is\r\n```\r\n{\r\n  \"name\": \"customPriority\",\r\n  \"priorityList\": [\r\n    { \"id\": \"9808\", \"priority\": 5 }, // first result\r\n    { \"id\": \"40308\", \"priority\": -1 } // last result\r\n  ]\r\n}\r\n```\r\n"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A single [result object](../docs/api#response), where `results` array consist of Article resource objects sorted by the order of relevance.\r\n",
            "schema": {
              "$ref": "#/definitions/SearchArticlesPost200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Invalid input parameter."
          },
          "500": {
            "description": "Processing Error."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/suggestions/articles": {
      "post": {
        "description": "Endpoint for search autocomplete, which returns list of possible complete word suggestions based on the current search query.\r\n",
        "operationId": "post-suggestions-articles",
        "summary": "Article suggestions (autocomplete)",
        "tags": [
          "suggestions"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Payload"
            },
            "description": "JSON payload similar to a normal search request."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuggestionsArticlesPost200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Invalid input parameter."
          },
          "500": {
            "description": "Processing Error."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/search/offers": {
      "post": {
        "description": "API for searching offers and products linked to them. <br><br> Any prices listed by this API should not be used in any monetary transactions or price calculations, but they can be used for display purposes. The price data returned by this API is also the only way to display future offer prices not active at the moment.\r\n",
        "operationId": "post-search-offers",
        "summary": "Offer search.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Payload"
            },
            "description": "Request payload. Has to have at least a query or a single filter defined.\r\n\r\n<br>Normal request, where possible `filters` are:\r\n\r\n* `ids` *Boolean filter* A String or an Array of Strings defining the offers that are included in the search.\r\n* `chainId` *Boolean filter* A String or an Array of Strings defining which store chains' offers are included in the search. Possible values are 'kcitymarket', 'ksupermarket', 'kmarket' and 'nokm'. If `chainId`\r\nfilter is not used, request returns offers from all chains.\r\n* `storeId` *Boolean filter* A String or an Array of Strings defining which stores' offers are included in the search.\r\n* `category` *Boolean filter* A String or an Array of Strings defining which\r\noffer categories are included in the search.\r\n\r\nPossible values for offer `category` filter are:\r\n\r\n| Id       | Title                                   |\r\n|----------|-----------------------------------------|\r\n| \"8734\"   | \"Kärkitarjous\"                          |\r\n| \"8735\"   | \"Elintarviketarjous\"                    |\r\n| \"8736\"   | \"Plussa-tarjous\"                        |\r\n| \"8737\"   | \"Pirkka-tarjous\"                        |\r\n| \"8739\"   | \"TULI KUUMA -tarjous (KCM)\"             |\r\n| \"8740\"   | \"Synttäri-tarjous (KSM)\"                |\r\n| \"8744\"   | \"Sinivalkoinen-tarjous\"                 |\r\n| \"8998\"   | \"Pieneen hintaan -tarjous (KM)\"         |\r\n| \"9522\"   | \"Käyttötavaratarjous\"                   |\r\n| \"9525\"   | \"Maito juusto munat ja rasvat -tarjous\" |\r\n| \"9526\"   | \"Lihat ja kalat -tarjous\"               |\r\n| \"9527\"   | \"Hedelmät ja vihannekset -tarjous\"      |\r\n| \"9524\"   | \"Valmisruoka-tarjous\"                   |\r\n| \"9528\"   | \"Leivät keksit ja leivonnaiset -tarjous\"|\r\n| \"9529\"   | \"Makeiset ja naposteltavat -tarjous\"    |\r\n| \"9530\"   | \"Juomat-tarjous\"                        |\r\n| \"9531\"   | \"Kodintarvikkeet-tarjous\"               |\r\n| \"9532\"   | \"Pakasteet-tarjous\"                     |\r\n| \"9533\"   | \"Maustaminen ja leivonta -tarjous\"      |\r\n| \"9534\"   | \"Pastat riisit ja säilykkeet -tarjous\"  |\r\n| \"9536\"   | \"Hygienian tarjous\"                     |\r\n| \"9540\"   | \"Sisustuksen tarjous\"                   |\r\n| \"9551\"   | \"Sisustustekstiilitarjous\"              |\r\n| \"9541\"   | \"Vuodetekstiilitarjous\"                 |\r\n| \"9542\"   | \"Ruuanlaiton tarjous\"                   |\r\n| \"9544\"   | \"Vapaa-ajan tarjous\"                    |\r\n| \"9545\"   | \"Viihteen tarjous\"                      |\r\n| \"9546\"   | \"Lelutarjous\"                           |\r\n| \"9547\"   | \"Urheilutarjous\"                        |\r\n| \"9548\"   | \"TV-tarjous\"                            |\r\n| \"9549\"   | \"Tietotekniikkatarjous\"                 |\r\n| \"9550\"   | \"Kameratarjous\"                         |\r\n| \"11117\"  | \"K-menu-tarjous\"                        |\r\n| \"11643\"  | \"Tästä ilmoitimme -tarjous (KSM)\"       |\r\n| \"11966\"  | \"Hintaralli-tarjous ET (KCM)\"           |\r\n| \"39044\"  | \"Neste Oil K-market Motorest\"           |\r\n| \"39045\"  | \"Neste Oil K-market Kahvila\"            |\r\n| \"59681\"  | \"Halpa hinta\"                           |\r\n| \"66295\"  | \"Laktoositon-tarjous\"                   |\r\n| \"94258\"  | \"Nenäpäivä-tarjous\"                     |\r\n| \"191745\" | \"Bannerit (KSM)\"                        |\r\n| \"212756\" | \"Sähkösuora (KSM)\"                      |\r\n| \"212757\" | \"Digimainonta (KSM)\"                    |\r\n| \"97089\"  | \"KM Pohjanmaa\"                          |\r\n| \"97088\"  | \"KM Kanta-Häme-Pirkanmaa\"               |\r\n| \"97087\"  | \"KM Satakunta\"                          |\r\n| \"97086\"  | \"KM Varsinais-Suomi\"                    |\r\n| \"97085\"  | \"KM Pkseutu-Uusimaa\"                    |\r\n| \"97084\"  | \"KM Etelä-Karjala-Kymenlaakso-Päijät-Häme\"|\r\n| \"97083\"  | \"KM Keski- ja Itä-Suomi\"                |\r\n| \"97082\"  | \"KM Pohjois-Suomi\"                      |\r\n| \"96160\"  | \"K-Myllypuro\"                           |\r\n| \"74493\"  | \"Sushi-tilauslomake\"                    |\r\n| \"66739\"  | \"Keskolainen-demokaupat\"                |\r\n| \"65059\"  | \"NOKM Quickwash\"                        |\r\n| \"50896\"  | \"Tilaa tarjoilut -kaupparyhmä\"          |\r\n| \"36030\"  | \"NOKM ei 24h\"                           |\r\n| \"36029\"  | \"NOKM 24h\"                              |\r\n| \"18445\"  | \"KM Etelä-Karjala-Kymeenlaakso\"         |\r\n| \"11539\"  | \"KSM Itä- ja Keski-Suomi\"               |\r\n| \"11538\"  | \"KSM Kaakkois-Suomi\"                    |\r\n| \"151839\" | \"KSM Lahti\"                             |\r\n| \"11537\"  | \"KSM Pirkanmaa-Häme\"                    |\r\n| \"11536\"  | \"KSM Satakunta\"                         |\r\n| \"11535\"  | \"KSM PK-Uusimaa (su-ru)\"                |\r\n| \"11534\"  | \"KSM PK-Uusimaa\"                        |\r\n| \"11533\"  | \"KSM Pohjois-Suomi (su-ru)\"             |\r\n| \"11532\"  | \"KSM Pohjois-Suomi\"                     |\r\n| \"11531\"  | \"KSM Varsinais-Suomi (su-ru)\"           |\r\n| \"11530\"  | \"KSM Varsinais-Suomi\"                   |\r\n| \"11529\"  | \"KSM Pohjanmaa (su-ru)\"                 |\r\n| \"11498\"  | \"KSM Pohjanmaa\"                         |\r\n| \"4661\"   | \"Neste Oil K-market\"                    |\r\n| \"4660\"   | \"K-extra\"                               |\r\n| \"4659\"   | \"K-market\"                              |\r\n| \"4658\"   | \"K-citymarket\"                          |\r\n| \"4657\"   | \"K-supermarket\"                         |\r\n| \"166653\" | \"SLK K-Market\"                          |\r\n| \"188787\" | \"KM Rinkikohtainen mainonta\"            |\r\n| \"196934\" | \"Matkahuolto\"                           |\r\n\r\n<br>\r\n\r\nPossible `sortOrders` are:\r\n* Sort by publishing date. Offer search results can be sorted by publishing date, showing latest publishing dates first. The structure of the object has to be\r\n```\r\n{\r\n  \"name\": \"validFrom\"\r\n}\r\n```\r\n* Sort by custom priority. Results can be sorted by using priority list where each store can be given a specific priority number. Default priority is 0. It is given for stores missing from the list. The larger the number, the higher the priority. Stores with equal numbers are sorted by relevance. Stores whose priority is less than 0 are last in the search results, i.e. after stores that are not included in the priority list. The structure of the custom priority object is\r\n```\r\n{\r\n  \"name\": \"customPriority\",\r\n  \"priorityList\": [\r\n    { \"id\": \"222978\", \"priority\": 5 }, // first result\r\n    { \"id\": \"224263\", \"priority\": -1 } // last result\r\n  ]\r\n}\r\n```\r\n\r\nPossible `facets` are:\r\n* `Categories.Id`\r\n* `Categories.Title`\r\n* `Stores`\r\n* `Chains`\r\n"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A single [result object](../docs/api#response), where `results` array consist of Offer resource objects sorted by the order of relevance.\r\n",
            "schema": {
              "$ref": "#/definitions/SearchOffersPost200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Invalid input parameter."
          },
          "500": {
            "description": "Processing Error."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/search/products": {
      "post": {
        "description": "API for searching basic information and availability data about products. <br><br> This API doesn't know anything about product pricing, query [Pricing API](https://kesko.portal.azure-api.net/docs/services/pricingav/) with EAN codes returned by this service.\r\n",
        "operationId": "post-search-products",
        "summary": "Product search.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Payload"
            },
            "description": "Request payload. Has to have at least a query or a single filter defined.\r\n\r\n<br>Normal request, where possible `filters` are:\r\n\r\n* `ean` *Boolean filter* A String or an Array of Strings of EAN13 numbers. Filters the result set to only include products with mentioned EAN numbers. A single invalid EAN number will not fail the whole request.\r\n* `urlSlug` *Boolean filter* A String or an Array of Strings defining the product url slugs which are included in the search.\r\n* `brand` *Boolean filter* A String or an Array of Strings representing accepted brand names. At the moment possible values are `pirkka` and `kmenu`.\r\n* `category` *Boolean filter* An Object defining what product categories should be included. You can get the list of available categories and subcategories by making a query with category `facets` enabled.\r\n  * `category.id` A String or an Array of Strings representing SAP values of categories. These are usually small integers presented as Strings.\r\n  * `category.finnish` A String or an Array of String representing category names in Finnish.\r\n* `subcategory` *Boolean filter* An Object similar to `category`, but it represents the subcategory of a given category. As every subcategory belongs only to a single category, this can be used without defining the actual main `category` filter.\r\n* `segment` *Boolean filter* An Object defining what product segments should be included. In product object segment name and id are defined MATKL attribute, see the ProductAttributes model. You can get the list of segments by making a query with segment `facets` enabled.\r\n  * `segment.id` A String or an Array of Strings representing segment identifiers. These are usually small integers presented as Strings.\r\n  * `segment.finnish` A String or an Array of String representing segment names in Finnish.\r\n* `isConsumerGood` *Boolean filter* A Boolean representing whether the product is a consumer good (true) or a foodstuff (false).\r\n* `nutritional` *Boolean filter* A String or an Array of Strings representing nutritional properties of a product. Nutritional properties are defined in the `TX_RAVOMI` attribute of a product. Accepted values are either SAP values (small integers as Strings) or property abbreviations (usually three letters long Strings).\r\n* `environmental` *Boolean filter* A String or an Array of Strings representing environmental properties of a product. Similar to `nutritional` with the exception that possible values are derived from the `TX_YMPMER` attribute of a product.\r\n* `packaging` *Boolean filter* A String or an Array of Strings representing packaging properties of a product. Similar to `nutritional` with the exception that possible values are derived from the `TX_PAKMER` attribute of a product.\r\n* `ingredientType` *Boolean filter* A String or an Array of Strings, with max one item. Defines the ingredient type id the product must have to be included in the search. Possible values are defined by [Ingredients API](https://kesko.portal.azure-api.net/docs/services/ingredients/operations/get-ingredients).\r\n* `storeAvailability` *Boolean filter* A String or an Array of Strings representing store ids. Only the products available in the specified store are included in the search results.\r\n* `webstoreAvailability` *Boolean filter* A String or an Array of Strings representing store ids. Only the products available in the specified store by web are included in the search results.\r\n* `webstoreAvailabilityWithAlcohol` *Boolean filter* A string or an Array of Strings representing store ids. Only the products available in the specified store by web with alcohol pickup are included in the search results.\r\n* `foodstuffsWebstoreOnly` *Boolean filter* A string or an Array of Strings representing store ids. Only the products available in the specified store are included in the search results. Consumer goods and alcohol products are available if the store is in either `storeAvailability` or `webstoreAvailabilityWithAlcohol` whereas foodstuffs are only available if they are in `webstoreAvailabilityWithAlcohol`.\r\n\r\n<br>Possible `dataSources` are:\r\n* `kRuoka` for k-ruoka Tuotetietopankki products. This is the default value, which is used if no `dataSources` are defined.\r\n* Store id for local products, e.g. `N106`. Note that for K-Citymarkets the food side id is used, `N106` for Iso Omena instead of `C609`. In some cases there can be the same ean in different data sources. E.g. two stores use the same ean number for different local products. If both stores are listed as `dataSources` in the query, there will be two products with the same ean in the search results.\r\n\r\n<br>Possible `sortOrders` are:\r\n* Sort by custom priority. Results can be sorted by using priority list where each product can be given a specific priority number. Default priority is 0. It is given for products missing from the list. The larger the number, the higher the priority. Products with equal numbers are sorted by relevance. Products whose priority is less than 0 are last in the search results, i.e. after products that are not included in the priority list. The structure of the custom priority object is\r\n```\r\n  {\r\n    \"name\": \"customPriority\",\r\n    \"priorityList\": [\r\n      { \"ean\": \"2000818700008\", \"priority\": 5 }, // first result\r\n      { \"ean\": \"2000604700007\", \"priority\": -1 } // last result\r\n    ]\r\n  }\r\n```\r\n\r\n<br>It is possible to affect the scoring of the results according to a household's personal preference using the boost API `scriptScore`.  Similarly, the scoring can be altered based on a store's profit margin.  Note that the weighting for each is on different scales.\r\n```\r\n{\r\n  \"query\":\"coca cola\",\r\n  \"filters\":{\"storeAvailability\":\"N106\"},\r\n  \"boost\": {\r\n    \"scoreBoostMethods\":[\r\n      {\"scriptScore\": {\"name\": \"personal\", \"parameters\": {\"householdId\": \"123456789\"}}, \"weight\": \"100\"},\r\n      {\"scriptScore\": {\"name\": \"storeProfit\", \"parameters\": {\"storeId\": \"N106\"}}, \"weight\": \"10\"}\r\n    ]\r\n  }\r\n}\r\n```\r\n\r\n<br>It is possible to include availability data to responses by definining `showAvailability` view option. Supplying an empty array to options means displaying all stores where product is available.\r\n\r\n```\r\n{\r\n  \"query\":\"coca cola\",\r\n  \"view\": {\r\n    \"offset\": 0,\r\n    \"limit\": 30,\r\n    \"showAvailability\": {\r\n      \"storeAvailability\": [],\r\n      \"webstoreAvailability\": [\"N106\"]\r\n    }\r\n  }\r\n}\r\n```\r\n\r\nPossible `facets` are:\r\n* `brand`\r\n* `category.id`\r\n* `subcategory.id`\r\n* `category.finnish`\r\n* `subcategory.finnish`\r\n* `segment.id`\r\n* `segment.finnish`\r\n"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A single result object, where `results` array consist of Product resource objects sorted by the order of relevance.\r\n",
            "schema": {
              "$ref": "#/definitions/SearchProductsPost200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Invalid input parameter."
          },
          "500": {
            "description": "Processing Error."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/suggestions/products": {
      "post": {
        "description": "Endpoint for search autocomplete, which returns list of possible complete word suggestions based on the current search query.\r\n",
        "operationId": "post-suggestions-products",
        "summary": "Product suggestions (autocomplete)",
        "tags": [
          "suggestions"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Payload"
            },
            "description": "JSON payload similar to a normal search request."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuggestionsProductsPost200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Invalid input parameter."
          },
          "500": {
            "description": "Processing Error."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/search/recipes": {
      "post": {
        "description": "API for searching recipes.\r\n",
        "operationId": "post-search-recipes",
        "summary": "Recipe search.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Payload"
            },
            "description": "Request payload. Has to have at least a query or a single filter defined.\r\n\r\n<br>Normal request, where possible `filters` are:\r\n\r\n* `ids` *Boolean filter* A String or an Array of Strings defining the recipe ids which are included in the search.\r\n* `urlSlug` *Boolean filter* A String or an Array of Strings defining the recipe url slugs which are included in the search.\r\n* `mainCategory` *Boolean filter* A String or an Array of Strings defining the main categories which are included in the search. Only category Ids can be used in the filter.\r\n* `subCategory` *Boolean filter* A String or an Array of Strings defining the subcategories which are included in the search. Only category Ids can be used in the filter. \r\n\r\nPossible `mainCategory` and `subCategory` values are:\r\n\r\n| MainName                 | MainId |\r\n|--------------------------|--------|\r\n| \"Alkuruoat\"              | \"3\"    |\r\n| \"Juomat\"                 | \"9\"    |\r\n| \"Jälkiruoat\"             | \"5\"    |\r\n| \"Lisäkkeet\"              | \"6\"    |\r\n| \"Makeat leivonnaiset\"    | \"7\"    |\r\n| \"Makuja maailmalta\"      | \"2\"    |\r\n| \"Pääruoat\"               | \"4\"    |\r\n| \"Sesonki\"                | \"1\"    |\r\n| \"Suolaiset leivonnaiset\" | \"8\"    |\r\n| \"Säilöntä\"               | \"10\"   |\r\n| \"Väli- ja iltapalat\"     | \"11\"   |\r\n| \"Pääraaka-aine\"          | \"14\"   |\r\n| \"Teema\"                  | \"15\"   |\r\n\r\n\r\nSub categories for each main category:\r\n\r\n<br>`Alkuruoat` subcategories are\r\n\r\n| SubName           | SubId |\r\n|-------------------|-------|\r\n| \"Kalat\"           | \"16\"  |\r\n| \"Keitot\"          | \"17\"  |\r\n| \"Muut alkuruoat\"  | \"19\"  |\r\n| \"Salaatit\"        | \"18\"  |\r\n\r\n<br>`Juomat` subcategories are\r\n\r\n| SubName           | SubId |\r\n|-------------------|-------|\r\n| \"Kylmät juomat\"   | \"59\"  |\r\n| \"Lämpimät juomat\" | \"60\"  |\r\n| \"Muut juomat\"     | \"61\"  |\r\n\r\n\r\n<br>`Jälkiruoat` subcategories are\r\n\r\n| SubName                             | SubId |\r\n|-------------------------------------|-------|\r\n| \"Hedelmä- ja marjasalaatit\"         | \"33\"  |\r\n| \"Hyytelöt ja vaahdot\"               | \"34\"  |\r\n| \"Juomat\"                            | \"40\"  |\r\n| \"Jäätelöt, jäädykkeet, sorbetit\"    | \"35\"  |\r\n| \"Keitot, kiisselit ja kastikkeet\"   | \"36\"  |\r\n| \"Makeiset\"                          | \"74\"  |\r\n| \"Muut jälkiruoat\"                   | \"41\"  |\r\n| \"Ohukaiset, pannukakut ja vohvelit\" | \"37\"  |\r\n| \"Paistokset\"                        | \"38\"  |\r\n| \"Puurot\"                            | \"39\"  |\r\n\r\n\r\n<br>`Lisäkkeet` subcategories are\r\n\r\n| SubName           | SubId |\r\n|-------------------|-------|\r\n| \"Kasvislisäkkeet\" | \"42\"  |\r\n| \"Muut lisäkkeet\"  | \"45\"  |\r\n| \"Perunalisäkkeet\" | \"43\"  |\r\n| \"Salaatit\"        | \"44\"  |\r\n\r\n\r\n<br>`Makeat leivonnaiset` subcategories are\r\n\r\n| SubName                    | SubId |\r\n|----------------------------|-------|\r\n| \"Hyytelötortut\"            | \"48\"  |\r\n| \"Kahvikakut\"               | \"50\"  |\r\n| \"Leivokset\"                | \"52\"  |\r\n| \"Muut makeat leivonnaiset\" | \"53\"  |\r\n| \"Pikkuleivät\"              | \"51\"  |\r\n| \"Pullat\"                   | \"46\"  |\r\n| \"Tortut ja piirakat\"       | \"49\"  |\r\n| \"Täytekakut\"               | \"47\"  |\r\n\r\n\r\n<br>`Makuja maailmalta` subcategories are\r\n\r\n| SubName     | SubId |\r\n|-------------|-------|\r\n| \"Aasia\"     | \"7\"   |\r\n| \"Amerikka\"  | \"8\"   |\r\n| \"Espanja\"   | \"79\"  |\r\n| \"Intia\"     | \"9\"   |\r\n| \"Italia\"    | \"10\"  |\r\n| \"Kreikka\"   | \"11\"  |\r\n| \"Meksiko\"   | \"12\"  |\r\n| \"Muut maat\" | \"15\"  |\r\n| \"Ranska\"    | \"13\"  |\r\n| \"Venäjä\"    | \"14\"  |\r\n\r\n<br>`Pääruoat` subcategories are\r\n\r\n| SubName                        | SubId |\r\n|--------------------------------|-------|\r\n| \"Broileri- ja muut linturuoat\" | \"21\"  |\r\n| \"Grilliruoat\"                  | \"73\"  |\r\n| \"Jauheliharuoat\"               | \"23\"  |\r\n| \"Kalaruoat\"                    | \"20\"  |\r\n| \"Kastikkeet\"                   | \"26\"  |\r\n| \"Kasvisruoat\"                  | \"22\"  |\r\n| \"Keitot\"                       | \"27\"  |\r\n| \"Liharuoat\"                    | \"24\"  |\r\n| \"Makkararuoat\"                 | \"25\"  |\r\n| \"Muut pääruoat\"                | \"32\"  |\r\n| \"Pastaruoat\"                   | \"31\"  |\r\n| \"Pataruoat\"                    | \"29\"  |\r\n| \"Salaatit\"                     | \"28\"  |\r\n| \"Uuniruoat\"                    | \"30\"  |\r\n\r\n\r\n<br>`Sesonki` subcategories are\r\n\r\n| SubName                           | SubId |\r\n|-----------------------------------|-------|\r\n| \"Joulun leivonnaiset\"             | \"1\"   |\r\n| \"Pääsiäinen\"                      | \"2\"   |\r\n| \"Vappu\"                           | \"3\"   |\r\n| \"Kodin juhlat: ruoat\"             | \"4\"   |\r\n| \"Grillikausi\"                     | \"5\"   |\r\n| \"Muut sesongit/teemat\"            | \"6\"   |\r\n| \"Joulun ruoat\"                    | \"75\"  |\r\n| \"Kodin juhlat: leivonnaiset\"      | \"76\"  |\r\n| \"Napero-reseptit/lapsille\"        | \"77\"  |\r\n| \"Pirkka-tuotepakkausten reseptit\" | \"78\"  |\r\n| \"Uusivuosi\"                       | \"81\"  |\r\n| \"Äitienpäivä\"                     | \"120\" |\r\n| \"Kesä\"                            | \"121\" |\r\n| \"Juhannus\"                        | \"122\" |\r\n| \"Rapujuhlat\"                      | \"123\" |\r\n| \"Sadonkorjuu\"                     | \"124\" |\r\n| \"Oktoberfest\"                     | \"125\" |\r\n| \"Halloween\"                       | \"126\" |\r\n| \"Isänpäivä\"                       | \"127\" |\r\n| \"Pikkujoulut\"                     | \"128\" |\r\n| \"Itsenäisyyspäivä\"                | \"129\" |\r\n| \"Joulu\"                           | \"130\" |\r\n\r\n\r\n<br>`Suolaiset leivonnaiset` subcategories are\r\n\r\n| SubName                          | SubId |\r\n|----------------------------------|-------|\r\n| \"Leivät ja sämpylät\"             | \"54\"  |\r\n| \"Muut suolaiset leivonnaiset\"    | \"58\"  |\r\n| \"Piirakat ja pasteijat\"          | \"55\"  |\r\n| \"Pizzat\"                         | \"56\"  |\r\n| \"Voileipäkakut ja hyytelötortut\" | \"57\"  |\r\n\r\n\r\n<br>`Säilöntä` subcategories are\r\n\r\n| SubName                        | SubId |\r\n|--------------------------------|-------|\r\n| \"Etikkasäilykkeet\"             | \"62\"  |\r\n| \"Hillot, soseet ja marmeladit\" | \"63\"  |\r\n| \"Mehut\"                        | \"64\"  |\r\n| \"Muu säilöntä\"                 | \"65\"  |\r\n\r\n\r\n<br>`Väli- ja iltapalat` subcategories are\r\n\r\n| SubName                   | SubId |\r\n|---------------------------|-------|\r\n| \"Juomat\"                  | \"71\"  |\r\n| \"Muut väli- ja iltapalat\" | \"72\"  |\r\n| \"Piirakat\"                | \"67\"  |\r\n| \"Pizzat\"                  | \"68\"  |\r\n| \"Puurot\"                  | \"69\"  |\r\n| \"Salaatit\"                | \"70\"  |\r\n| \"Täytetyt leivät\"         | \"66\"  |\r\n\r\n\r\n<br>`Pääraaka-aine` subcategories are\r\n\r\n| SubName                   | SubId |\r\n|---------------------------|-------|\r\n| \"Broileri ja linnut\"      | \"118\" |\r\n| \"Suklaa\"                  | \"112\" |\r\n| \"Kasvis\"                  | \"115\" |\r\n| \"Makkara\"                 | \"113\" |\r\n| \"Jauheliha\"               | \"117\" |\r\n| \"Äyriäiset\"               | \"111\" |\r\n| \"Kala\"                    | \"116\" |\r\n| \"Liha\"                    | \"114\" |\r\n| \"Kananmuna\"               | \"110\" |\r\n\r\n\r\n<br>`Teema` subcategories are\r\n\r\n| SubName                           | SubId |\r\n|-----------------------------------|-------|\r\n| \"Brunssi\"                         | \"131\" |\r\n| \"Piknik\"                          | \"132\" |\r\n| \"Lasten reseptit\"                 | \"133\" |\r\n| \"Pirkka-pakkausten reseptit\"      | \"134\" |\r\n| \"Mitä tänään syötäisiin?\"         | \"144\" |\r\n\r\n<br>\r\n\r\n* `specialDiet` *Boolean filter* A String or an Array of Strings defining the diets which are included in the search. Only special diet Ids can be used in the filter.\r\n<br>`specialDiet` Possible values are\r\n\r\n| Name                 | Id  |\r\n|----------------------|-----|\r\n| \"Gluteeniton\"        | \"4\" |\r\n| \"Kananmunaton\"       | \"7\" |\r\n| \"Kasvis (lakto-ovo)\" | \"6\" |\r\n| \"Laktoositon\"        | \"2\" |\r\n| \"Maidoton\"           | \"3\" |\r\n| \"Sokeriton\"          | \"5\" |\r\n| \"Vähälaktoosinen\"    | \"1\" |\r\n\r\n* `preparationTime` An Object defining the the time range how long time the preparation should take. The structure of the object has to be\r\n```\r\n{\r\n  \"minTime\": 30,  /* a Number */\r\n  \"maxTime\": 60   /* a Number */\r\n}\r\n```\r\n\r\nIt is not mandatory to define both minTime and maxTime. For more info, see PreparationTime model.\r\n* `ingredientType` *Boolean filter* A String or an Array of Strings. Defines the ingredient type ids the recipe must have to be included in the search. Possible values are defined by [Ingredients API](https://kesko.portal.azure-api.net/docs/services/ingredients/operations/get-ingredients).\r\n* `dateCreated` An Object defining the the time range when the recipe should have been made. The structure of the object has to be\r\n```\r\n{\r\n  \"minDate\": '2014-03-18T09:16:30',  /* a ISO 8601 date string */\r\n  \"maxDate\": '2014-03-19',           /* a ISO 8601 date string */\r\n}\r\n```\r\nLeaving `minDate` or `maxDate` out counts as unbounded and at least one of them has to be defined in the object.\r\n\r\n* `tvDate` An Object defining the the time range where the recipes tvDate should be. The structure of the object has to be\r\n```\r\n{\r\n  \"minDate\": '2014-03-18T09:16:30',  /* a ISO 8601 date string */\r\n  \"maxDate\": '2014-03-19',           /* a ISO 8601 date string */\r\n}\r\n```\r\nLeaving `minDate` or `maxDate` out counts as unbounded and at least one of them has to be defined in the object.\r\n\r\n<br>For mobile clients (ie. for mobile client tokens) there is also an extra filter available:\r\n\r\n* `group` A String or an Array of Strings. Defines the recipe groups that are included in the search. Possible values are `popular`, `seasonal`, `cheapandeasy`, `mparillinen`, `mpariton` and `all` (default).\r\nIf filter array contains several `group` filters, only the first one is taken into account.\r\n\r\nPossible `sortOrders` are:\r\n* Sort by custom priority. Results can be sorted by using priority list where each recipe can be given a specific priority number. Default priority is 0. It is given for recipes missing from the list. The larger the number, the higher the priority. Recipes with equal numbers are sorted by relevance. Recipes whose priority is less than 0 are last in the search results, i.e. after recipes that are not included in the priority list. The structure of the custom priority object is\r\n```\r\n{\r\n  \"name\": \"customPriority\",\r\n  \"priorityList\": [\r\n    { \"id\": \"5757\", \"priority\": 5 }, // first result\r\n    { \"id\": \"4976\", \"priority\": -1 } // last result\r\n  ]\r\n}\r\n```\r\n* Sort by TV date. Possible sorting orders are `asc` and `desc`, default is `desc`.\r\n```\r\n{\r\n  \"name\": \"tvDate\",\r\n  \"order\": \"asc\"\r\n}\r\n```\r\n \r\nPossible `facets` are:\r\n* `mainCategory`\r\n* `subCategory`\r\n* `specialDiet`\r\n"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A single result object where results array consist of Recipe resource objects sorted by the order of relevance.\r\n",
            "schema": {
              "$ref": "#/definitions/SearchRecipesPost200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Invalid input parameter."
          },
          "500": {
            "description": "Processing Error."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/suggestions/recipes": {
      "post": {
        "description": "Endpoint for search autocomplete, which returns list of possible complete word suggestions based on the current search query.\r\n",
        "operationId": "post-suggestions-recipes",
        "summary": "Recipe suggestions (autocomplete)",
        "tags": [
          "suggestions"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Payload"
            },
            "description": "JSON payload similar to a normal search request."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuggestionsRecipesPost200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Invalid input parameter."
          },
          "500": {
            "description": "Processing Error."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/search/stores": {
      "post": {
        "description": "Store search API for searching stores by different filters.\r\n",
        "operationId": "post-search-stores",
        "summary": "Store search.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Payload"
            },
            "description": "Request payload. Has to have at least a query or a single filter defined.\r\n\r\n<br>Normal request, where possible `filters` are:\r\n\r\n* `municipality` *Boolean filter* A String or an Array of Strings defining the areas which are included in the search.\r\n* `postCode` *Boolean filter* A String or an Array of Strings defining which postal codes are included in the search.\r\n* `chainId` *Boolean filter* A String or an Array of Strings defining which store chains are included in the search. Possible values are 'kcitymarket', 'ksupermarket', 'kmarket', 'nokm' and 'kmyllypuro'.\r\n* `ids` *Boolean filter* A String or an Array of Strings defining the stores that are included in the search.\r\n* `services` *Boolean filter* An Array of String defining which all services have to be found from resulting stores.\r\n* `deliveryPostCodes` *Boolean filter*  An array of String defining which postal codes the resulting stores have to be able to deliver to.\r\n* `currentlyOpen` A boolean value determining whether the resulting stores should be open at the moment or not. Default is that all stores are returned.\r\n* `locationBoundingBox` An Object defining the bounding box where stores should be physically located. The structure of the object has to be\r\n```\r\n{\r\n  \"topLeft\": {\r\n    \"lon\": 42,     /* a Number */\r\n    \"lat\": 24      /* a Number */\r\n  },\r\n  \"bottomRight\": {\r\n    \"lon\": 142,    /* a Number */\r\n    \"lat\": 124     /* a Number */\r\n  }\r\n}\r\n```\r\n\r\n* `locationDistance` An Object defining an circle bounding box around a single coordinate location, where resulting stores should be located. The structure of the object has to be\r\n```\r\n{\r\n  \"location\": {\r\n    \"lon\": 42,     /* a Number */\r\n    \"lat\": 24      /* a Number */\r\n  },\r\n  \"distance\": 5    /* a Number describing max. kilometers from location */\r\n}\r\n```\r\n\r\n<br>Possible `sortOrders` are:\r\n* Sort by distance. Store search results can be sorted by distance to a specific location. The structure of the object has to be\r\n```\r\n{\r\n  \"name\": \"distance\",\r\n  \"location\": {\r\n    \"lon\": 42,     /* a Number */\r\n    \"lat\": 24      /* a Number */\r\n  }\r\n}\r\n```\r\nIn the search results data for each store contains field `Sort`, which is an Array. The first element of the array is the distance of the store to the given location.\r\n* Sort by custom priority. Results can be sorted by using priority list where each store can be given a specific priority number. Default priority is 0. It is given for stores missing from the list. The larger the number, the higher the priority. Stores with equal numbers are sorted by relevance. Stores whose priority is less than 0 are last in the search results, i.e. after stores that are not included in the priority list. The structure of the custom priority object is\r\n```\r\n{\r\n  \"name\": \"customPriority\",\r\n  \"priorityList\": [\r\n    { \"id\": \"E100\", \"priority\": 5 }, // first result\r\n    { \"id\": \"N106\", \"priority\": -1 } // last result\r\n  ]\r\n}\r\n```\r\n\r\nPossible `facets` are:\r\n* `postCode`\r\n* `deliveryPostCodes`\r\n* `municipality`\r\n* `serviceIds`\r\n* `chainId`\r\n"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A single result object where `results` array consist of Store resource objects sorted by the order of relevance.\r\n",
            "schema": {
              "$ref": "#/definitions/SearchStoresPost200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Invalid input parameter."
          },
          "500": {
            "description": "Processing Error."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/suggestions/stores": {
      "post": {
        "description": "Endpoint for search autocomplete, which returns list of possible complete word suggestions based on the current search query.\r\n",
        "operationId": "post-suggestions-stores",
        "summary": "Store suggestions (autocomplete)",
        "tags": [
          "suggestions"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Payload"
            },
            "description": "JSON payload similar to a normal search request."
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuggestionsStoresPost200ApplicationJsonResponse"
            }
          },
          "400": {
            "description": "Invalid input parameter."
          },
          "500": {
            "description": "Processing Error."
          }
        },
        "produces": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "Ingredient (old)": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "Pirkka suklaakermajäätelöä ja suklaakastiketta"
          }
        },
        "Ean": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "6410405064875"
          }
        },
        "Amount": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "_": {
                "type": "string",
                "description": "Measurement value"
              },
              "$": {
                "type": "object",
                "description": "Measurement unit",
                "properties": {
                  "Unit": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "AmountInfo": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "(5 dl)"
          }
        },
        "PackageRecipe": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "false"
          }
        },
        "IngredientType": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "7381"
          }
        }
      }
    },
    "Recipe (old)": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "7216"
          }
        },
        "Name": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "Peanut freak shake eli friikkipirtelö"
          }
        },
        "PieceSize": {
          "type": "array",
          "items": {
            "example": {
              "_": "250",
              "$": {
                "Unit": "ml"
              }
            },
            "type": "object",
            "properties": {
              "_": {
                "type": "string",
                "description": "Measurement value"
              },
              "$": {
                "type": "object",
                "description": "Measurement unit",
                "properties": {
                  "Unit": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "Portions": {
          "type": "array",
          "items": {
            "example": {
              "_": "2",
              "$": {
                "Unit": "annosta"
              }
            },
            "type": "object",
            "properties": {
              "_": {
                "type": "string",
                "description": "Measurement value"
              },
              "$": {
                "type": "object",
                "description": "Measurement unit",
                "properties": {
                  "Unit": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "PreparationTime": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "alle 15 min"
          }
        },
        "Categories": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "Category": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "$": {
                      "type": "object",
                      "properties": {
                        "MainName": {
                          "type": "string"
                        },
                        "MainId": {
                          "type": "string"
                        },
                        "SubName": {
                          "type": "string"
                        },
                        "SubId": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "MainName": "Makuja maailmalta",
                        "MainId": "2",
                        "SubName": "Amerikka",
                        "SubId": "8"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Pictures": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "Picture": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "peanutfreakshake16",
                  "freakshake042016"
                ]
              }
            }
          }
        },
        "PictureUrls": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "PictureUrl": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "Ingredients": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "SubHeading": {
                "type": "object",
                "properties": {
                  "_": {
                    "type": "string",
                    "example": "_"
                  },
                  "Alternatives": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Ingredient": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Name": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "Pirkka suklaakermajäätelöä ja suklaakastiketta"
                                }
                              },
                              "Ean": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "6410405064875"
                                }
                              },
                              "Amount": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "_": {
                                      "type": "string",
                                      "description": "Measurement value"
                                    },
                                    "$": {
                                      "type": "object",
                                      "description": "Measurement unit",
                                      "properties": {
                                        "Unit": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "AmountInfo": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "(5 dl)"
                                }
                              },
                              "PackageRecipe": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "false"
                                }
                              },
                              "IngredientType": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "7381"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "Instructions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "EndNote": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Description": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "DateCreated": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "date-time",
            "example": "2016-04-13T13:58:15Z"
          }
        },
        "DateModified": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "date-time",
            "example": "2016-04-19T11:45:02Z"
          }
        },
        "Stamp": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "_": {
                "type": "string",
                "example": "Testattu K-koekeittiössä"
              },
              "$": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "example": "1"
                  }
                }
              }
            }
          }
        },
        "RecipeUse": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "_": {
                "type": "string",
                "example": "pirkka.fi"
              },
              "$": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "example": "1"
                  }
                }
              }
            }
          }
        }
      }
    },
    "Article (old)": {
      "type": "object",
      "required": [
        "resourceType",
        "Id",
        "Title",
        "Description",
        "MainBody",
        "VisibleFrom",
        "VisibleTo",
        "Categories"
      ],
      "properties": {
        "resourceType": {
          "type": "string",
          "enum": [
            "article"
          ]
        },
        "Id": {
          "type": "string",
          "description": "Article identifier",
          "example": "82763"
        },
        "Title": {
          "type": "string",
          "description": "Article title",
          "example": "Ystävänpäivä"
        },
        "Description": {
          "type": "string",
          "description": "Short description",
          "example": "Makeaa ystävänpäivää! Yllätä ystävä tänä vuonna vadelmaisella suklaasuukolla.\n"
        },
        "MainBody": {
          "type": "string",
          "description": "Main contents of the article in html format."
        },
        "VideoUrl": {
          "type": "string",
          "description": "If the article has a video, contains absolute url of this video.\n"
        },
        "Url": {
          "type": "string",
          "description": "K-ruoka.fi url of this article."
        },
        "LastModified": {
          "type": "string",
          "description": "Date when this article was last modified.",
          "example": "2017-07-14T05:45:36.26+00:00"
        },
        "VisibleFrom": {
          "type": "string",
          "description": "Date when the article is made visible on the website.",
          "example": "2014-03-26T18:34:55+00:00"
        },
        "VisibleTo": {
          "type": "string",
          "description": "Date when the article is unpublished.",
          "example": "9999-12-31T21:59:59.9999999+00:00"
        },
        "Images": {
          "type": "object",
          "description": "Teaser and main images for the article.",
          "required": [
            "Image"
          ],
          "properties": {
            "Image": {
              "type": "string",
              "description": "Image url",
              "example": "http://www.k-ruoka.fi/contentassets/70b329c610e24ecc88b35702a97aaf68/nain_teet_texaspitkon_1760.jpg"
            },
            "TeaserImage11": {
              "type": "string",
              "description": "Image url",
              "example": "http://www.k-ruoka.fi/contentassets/70b329c610e24ecc88b35702a97aaf68/nain_teet_texaspitkon_400.jpg"
            },
            "TeaserImage169": {
              "type": "string",
              "description": "Image url",
              "example": "http://www.k-ruoka.fi/contentassets/70b329c610e24ecc88b35702a97aaf68/nain_teet_texaspitkon_840.jpg"
            }
          }
        },
        "Categories": {
          "type": "array",
          "description": "Associated categories.",
          "items": {
            "type": "object",
            "required": [
              "Id",
              "Title"
            ],
            "properties": {
              "Id": {
                "type": "string",
                "description": "Category id"
              },
              "Title": {
                "type": "string",
                "description": "Category title"
              }
            }
          }
        },
        "Sort": {
          "type": "array",
          "description": "Only present, if the results are sorted.",
          "items": {
            "type": "number"
          }
        }
      }
    },
    "Article": {
      "type": "object",
      "required": [
        "resourceType",
        "id",
        "title",
        "description",
        "createdAt",
        "updatedAt",
        "categories",
        "slug"
      ],
      "properties": {
        "resourceType": {
          "type": "string",
          "enum": [
            "article"
          ]
        },
        "id": {
          "type": "string",
          "description": "Article identifier",
          "example": "3QxCYWfBhK8wKyoeEO4KwG"
        },
        "legacyId": {
          "type": "integer",
          "description": "Episerver article identifier",
          "example": 52338
        },
        "title": {
          "type": "string",
          "description": "Article title",
          "example": "Ystävänpäivä"
        },
        "description": {
          "type": "string",
          "description": "Short description",
          "example": "Makeaa ystävänpäivää! Yllätä ystävä tänä vuonna vadelmaisella suklaasuukolla.\n"
        },
        "ingress": {
          "type": "string",
          "description": "Ingress of the article.",
          "example": "Itsenäisyyspäivänä juhlitaan Suomea ja suomalaisia perinteitä. Mikä olisikaan parempi tapa kuin kerätä juhlapöytään makuja maakunnista ja samalla tukea suomalaista työtä.\n"
        },
        "body": {
          "type": "string",
          "description": "Main contents of the article in markdown format."
        },
        "headerImageUrl": {
          "type": "string",
          "description": "If the article has a header image, contains the absolute url of this image.\n"
        },
        "headerVideoUrl": {
          "type": "string",
          "description": "If the article has a header video, contains the absolute url of this video.\n"
        },
        "originalUrl": {
          "type": "string",
          "description": "K-ruoka.fi url of this article."
        },
        "createdAt": {
          "type": "string",
          "description": "Date when this article was created.",
          "example": "2017-10-24T11:17:30.669Z"
        },
        "updatedAt": {
          "type": "string",
          "description": "Date when this article was last modified.",
          "example": "2017-11-03T10:25:06.117Z"
        },
        "categories": {
          "type": "array",
          "description": "Associated categories.",
          "items": {
            "type": "object",
            "required": [
              "id",
              "title"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "Category id"
              },
              "title": {
                "type": "string",
                "description": "Category title"
              }
            }
          }
        },
        "slug": {
          "type": "string",
          "description": "URL slug of the article",
          "example": "korea-kutsuu-reseptit-tuliseen-ja-tuhtiin-ruokaan"
        },
        "themeSlug": {
          "type": "string",
          "description": "URL slug of the article theme",
          "example": "arki"
        },
        "Sort": {
          "type": "array",
          "description": "Only present, if the results are sorted.",
          "items": {
            "type": "number"
          }
        }
      }
    },
    "Offer": {
      "type": "object",
      "description": "See payload description for possible category IDs.\n",
      "required": [
        "resourceType",
        "Id",
        "Name",
        "ProductName",
        "IsPirkkaProduct",
        "IsPlussaOffer",
        "NormalPrice",
        "AdditionalInfo",
        "Price",
        "Unit",
        "Categories",
        "Chains",
        "Stores",
        "Source",
        "ValidFrom",
        "VisibleFrom",
        "VisibleTo"
      ],
      "properties": {
        "resourceType": {
          "type": "string",
          "enum": [
            "offer"
          ]
        },
        "Id": {
          "type": "string",
          "description": "Offer identifier",
          "example": "222946"
        },
        "Name": {
          "type": "string",
          "description": "Offer name",
          "example": "HK Viljaporsaan lihasuikaleet 400g marinoitu ja naturel"
        },
        "ProductName": {
          "type": "string",
          "description": "Product name",
          "example": "Viljaporsaan lihasuikaleet 400g marinoitu ja naturel"
        },
        "Eans": {
          "type": "array",
          "description": "List of offer product eans. Note that this field sometimes contains garbage data! Make sure you check the with some validation logic before use (i.e. check that the eans have non-zero length, contain only characters in 0-9 range).\n",
          "items": {
            "type": "string"
          },
          "example": [
            "6409100035235",
            "6409100035549",
            "6409100035235",
            "6409100035549"
          ]
        },
        "Brand": {
          "type": "string",
          "description": "Product brand name",
          "example": "HK"
        },
        "IsPirkkaProduct": {
          "type": "boolean",
          "description": "True, if this is Pirkka product."
        },
        "IsPlussaOffer": {
          "type": "boolean",
          "description": "True, if this is Plussa offer."
        },
        "NormalPrice": {
          "type": "string",
          "description": "Normal price",
          "example": "6,25/kg"
        },
        "AdditionalInfo": {
          "type": "string",
          "description": "Discounted price / kg",
          "example": "2,79-2,99 rs (6,98-7,48/kg)"
        },
        "Price": {
          "type": "string",
          "description": "Discounted price / unit",
          "example": "5"
        },
        "Unit": {
          "type": "string",
          "description": "Product count for discount",
          "example": "2 rs"
        },
        "Categories": {
          "type": "array",
          "description": "Associated categories.",
          "items": {
            "type": "object",
            "required": [
              "Id",
              "Title"
            ],
            "properties": {
              "Id": {
                "type": "string",
                "description": "Category id"
              },
              "Title": {
                "type": "string",
                "description": "Category title"
              }
            }
          }
        },
        "Chains": {
          "type": "array",
          "description": "List of chains where this offer is valid. Empty list, if this is store specific offer.\n",
          "items": {
            "type": "string"
          },
          "example": [
            "kcitymarket"
          ]
        },
        "Stores": {
          "type": "array",
          "description": "List of stores where this offer is valid. Empty list, if this is chain specific offer.\n",
          "items": {
            "type": "string"
          },
          "example": [
            "N106"
          ]
        },
        "Source": {
          "type": "string",
          "description": "Indicates whether this is chain, store or regional offer. Possible values \"chain\", \"store and \"regional\".\n",
          "enum": [
            "chain",
            "store",
            "regional"
          ]
        },
        "Url": {
          "type": "string",
          "description": "K-ruoka.fi url of this offer.",
          "example": "http://www.k-citymarket.fi/tarjoukset/hk-viljaporsaan-lihasuikaleet-400g-marinoitu-ja-naturel"
        },
        "Image": {
          "type": "string",
          "description": "Offer image url. See [imgix Documentation](https://docs.imgix.com/apis/url) for available image resize parameters. You should always scale the image down to desired size.\n",
          "example": "https://www.example.com/f/k-ruoka/offer/222946"
        },
        "ValidFrom": {
          "type": "string",
          "description": "Date when the offer is made valid.",
          "example": "2017-01-01T22:00:00+00:00"
        },
        "VisibleFrom": {
          "type": "string",
          "description": "Date when the offer can be published.",
          "example": "2017-01-01T22:00:00+00:00"
        },
        "VisibleTo": {
          "type": "string",
          "description": "Date when the offer is made invalid.",
          "example": "2017-05-03T18:00:00+00:00"
        },
        "Sort": {
          "type": "array",
          "description": "Only present, if the results are sorted.",
          "items": {
            "type": "number"
          }
        }
      }
    },
    "Product": {
      "type": "object",
      "required": [
        "resourceType",
        "dataSource",
        "ean",
        "eanReplaced",
        "eanReplacing",
        "urlSlug",
        "attributes",
        "pictureUrls",
        "isAlcohol"
      ],
      "properties": {
        "resourceType": {
          "type": "string",
          "enum": [
            "product"
          ]
        },
        "dataSource": {
          "type": "string",
          "description": "Indicates the source of the product data. `kRuoka` for Tuotetietopankki products, store ID for local products. <br>For hackathon purposes, you should be able to safely ignore this field.\n",
          "example": "kRuoka"
        },
        "ean": {
          "type": "string",
          "description": "EAN13 number. Length is always 13. When necessary, the number has been padded with leading zeros.\n",
          "example": "2000266700001"
        },
        "eanReplaced": {
          "type": "string",
          "description": "EAN13 number. `eanReplaced` has been replaced by `ean`. Length is always 13. When necessary, the number has been padded with leading zeros.\n",
          "example": "2000266700001"
        },
        "eanReplacing": {
          "type": "string",
          "description": "EAN13 number. `eanReplacing` will replace `ean`. Length is always 13. When necessary, the number has been padded with leading zeros.\n",
          "example": "2000266700001"
        },
        "urlSlug": {
          "type": "string",
          "description": "Product url slug",
          "example": "pirkka-korvapuusti-150g-kpl-2000273200006"
        },
        "labelName": {
          "type": "object",
          "description": "**Note:** Based on current values in the database, strings are not always localized in the language that the attribute value would suggest. Eg. apparently product marketing names are stored in Finnish also in the `english` field.\n",
          "properties": {
            "id": {
              "type": "string",
              "description": "ID of the value in question. Only used with `category` and `subcategory`.\n",
              "example": "11"
            },
            "finnish": {
              "type": "string",
              "description": "Attribute value in Finnish",
              "example": "Pirkka lihapullat"
            },
            "swedish": {
              "type": "string",
              "description": "Attribute value in Swedish",
              "example": "Pirkka köttbullar"
            },
            "english": {
              "type": "string",
              "description": "Attribute value in English",
              "example": "Pirkka meat balls"
            }
          }
        },
        "marketingName": {
          "type": "object",
          "description": "**Note:** Based on current values in the database, strings are not always localized in the language that the attribute value would suggest. Eg. apparently product marketing names are stored in Finnish also in the `english` field.\n",
          "properties": {
            "id": {
              "type": "string",
              "description": "ID of the value in question. Only used with `category` and `subcategory`.\n",
              "example": "11"
            },
            "finnish": {
              "type": "string",
              "description": "Attribute value in Finnish",
              "example": "Pirkka lihapullat"
            },
            "swedish": {
              "type": "string",
              "description": "Attribute value in Swedish",
              "example": "Pirkka köttbullar"
            },
            "english": {
              "type": "string",
              "description": "Attribute value in English",
              "example": "Pirkka meat balls"
            }
          }
        },
        "description": {
          "type": "object",
          "description": "**Note:** Based on current values in the database, strings are not always localized in the language that the attribute value would suggest. Eg. apparently product marketing names are stored in Finnish also in the `english` field.\n",
          "properties": {
            "id": {
              "type": "string",
              "description": "ID of the value in question. Only used with `category` and `subcategory`.\n",
              "example": "11"
            },
            "finnish": {
              "type": "string",
              "description": "Attribute value in Finnish",
              "example": "Pirkka lihapullat"
            },
            "swedish": {
              "type": "string",
              "description": "Attribute value in Swedish",
              "example": "Pirkka köttbullar"
            },
            "english": {
              "type": "string",
              "description": "Attribute value in English",
              "example": "Pirkka meat balls"
            }
          }
        },
        "measurements": {
          "type": "object",
          "description": "Measurements of the product as float values. Length measurements are in centimetres, volume is in litres (dm3) rounded to two decimals, and weight is in kilograms. All fields are optional and may be missing from some products.\n",
          "properties": {
            "width": {
              "type": "number",
              "format": "float"
            },
            "height": {
              "type": "number",
              "format": "float"
            },
            "length": {
              "type": "number",
              "format": "float"
            },
            "volume": {
              "type": "number",
              "format": "float"
            },
            "netWeight": {
              "type": "number",
              "format": "float"
            },
            "averageWeight": {
              "type": "number",
              "format": "float"
            }
          }
        },
        "segment": {
          "type": "object",
          "description": "**Note:** Based on current values in the database, strings are not always localized in the language that the attribute value would suggest. Eg. apparently product marketing names are stored in Finnish also in the `english` field.\n",
          "properties": {
            "id": {
              "type": "string",
              "description": "ID of the value in question. Only used with `category` and `subcategory`.\n",
              "example": "11"
            },
            "finnish": {
              "type": "string",
              "description": "Attribute value in Finnish",
              "example": "Pirkka lihapullat"
            },
            "swedish": {
              "type": "string",
              "description": "Attribute value in Swedish",
              "example": "Pirkka köttbullar"
            },
            "english": {
              "type": "string",
              "description": "Attribute value in English",
              "example": "Pirkka meat balls"
            }
          }
        },
        "category": {
          "type": "object",
          "description": "**Note:** Based on current values in the database, strings are not always localized in the language that the attribute value would suggest. Eg. apparently product marketing names are stored in Finnish also in the `english` field.\n",
          "properties": {
            "id": {
              "type": "string",
              "description": "ID of the value in question. Only used with `category` and `subcategory`.\n",
              "example": "11"
            },
            "finnish": {
              "type": "string",
              "description": "Attribute value in Finnish",
              "example": "Pirkka lihapullat"
            },
            "swedish": {
              "type": "string",
              "description": "Attribute value in Swedish",
              "example": "Pirkka köttbullar"
            },
            "english": {
              "type": "string",
              "description": "Attribute value in English",
              "example": "Pirkka meat balls"
            }
          }
        },
        "subcategory": {
          "type": "object",
          "description": "**Note:** Based on current values in the database, strings are not always localized in the language that the attribute value would suggest. Eg. apparently product marketing names are stored in Finnish also in the `english` field.\n",
          "properties": {
            "id": {
              "type": "string",
              "description": "ID of the value in question. Only used with `category` and `subcategory`.\n",
              "example": "11"
            },
            "finnish": {
              "type": "string",
              "description": "Attribute value in Finnish",
              "example": "Pirkka lihapullat"
            },
            "swedish": {
              "type": "string",
              "description": "Attribute value in Swedish",
              "example": "Pirkka köttbullar"
            },
            "english": {
              "type": "string",
              "description": "Attribute value in English",
              "example": "Pirkka meat balls"
            }
          }
        },
        "isConsumerGood": {
          "type": "boolean",
          "description": "Is the product a consumer good (true) or a foodstuff (false).\n"
        },
        "brand": {
          "type": "string",
          "description": "`pirkka`, `kmenu` or undefined\n",
          "enum": [
            "pirkka",
            "kmenu"
          ]
        },
        "attributes": {
          "type": "object",
          "description": "A JSON object representing all possible attributes, that have been defined for a product. Every key in the object maps to product database attribute names.\n<br>In this interface, a value of a key is either an attribute object or an array of attribute objects.\nHere you can find the list of possible attributes. Attributes with their name ending with '?' might be missing from the responses, and this data might sometimes contain surprises.\n<br>\nEAN11: EAN code<br> MATKL: Product category number<br> PRODUCT_DESCRIPTION?: Product description<br> MAKTX?: Name, Finnish<br> MAKTXEN?: Name, English<br> MAKTXRU?: Name, Swedish<br> MAKTM_U?: Marketing name, Finnish<br> MAKTM_E?: Marketing name, English<br> MAKTM_V?: Marketing name, Swedish<br> MAKTE?: Some name field??<br> PDB_BLOCKING_CODE?: Blocking code<br> PDB_BLOCKING_CODE_DATE?: Blocking code effective date<br> ZZBRAND?: Brand<br> ZZSAISO?: Seasonality<br> ZZVENDOR?: Manufacturer<br> KUPAEAN11?: Transport unit EAN (like the EAN of whole box of sweets)<br> KUVPAI?: Product activity flag<br> LIFNR?: SAP vendor account number<br> INHAL?: Net contents<br> INHME?: Content unit<br> NTGEW?: Net weight<br> KAYMAA?: ????<br> KAYMAY?: ????<br> UMRE?: ????<br> STRAS?: Street address<br> PSTLZ?: Postal code<br> ORT01?: Name of city<br> LOCALITY_OF_MANUFACTURE?: Locality of manufacture<br> LAND1?: Country code<br> LANDX?: Country code in Finnish<br> MANUFA?: Country of manufacturer<br> WHERL?: Country of origin<br> INPP_U?: Recipe, Finnish<br> INPP_E?: Recipe, English<br> INPP_V?: Recipe, Swedish<br> MATERIAL_U?: Product ingredients description, Finnish<br> MATERIAL_E?: Product ingredients description, English<br> MATERIAL_V?: Product ingredients description, Swedish<br> TX_ADD_U?: Additive property, Finnish<br> TX_ADD_E?: Additive property, English<br> TX_ADD_V?: Additive property, Swedish<br> TX_CONT?: List of ingredients<br> TX_ERIOMI?: Special properties for non-food items<br> TX_KIEOMI?: Recycling emblems<br> TX_PAKMER?: Packaging emblems<br> TX_RAVOMI?: Nutritional properties<br> TX_YMPMER?: Responsibility emblems<br> LAST_CHANGE_DATE?: Change date<br> SYNDICATION_APPROVAL_DATE?: Approval date<br> ZZDISCODATE?: Product removed from market date<br> ZZENDDA?: New product release date<br> CAUTIONARY_INSTRUCTIONS?: Cautionary notes<br> HEATING_PREPARATION_INSTRUCTIONS?: Heating and preparation instructions<br> STORAGE_INSTRUCTIONS?: Storage instructions<br> USAGE_INSTRUCTIONS?: Usage instructions<br> ZCONUSE?: Storage and operating instructions<br> ALKPI?: Alcohol content %<br> AVITAM?: Vitamin A (µg)<br> B12VIT?: Vitamin B12 (µg)<br> B6VITA?: Vitamin B6 (mg)<br> BIOTII?: Biotin (µg)<br> CVITAM?: Vitamin C (mg)<br> DVITAM?: Vitamin D (µg)<br> EVITAM?: Vitamin E (µg)<br> ENERKC?: Energy content kcal/100g<br> ENERKJ?: Energy content kJ/100g<br> FLUORI?: Fluorine (mg)<br> FOOLIH?: Folic acid (µg)<br> FOSFOR?: Phosphorus (mg)<br> HIHYDR?: Carbohydrates / 100g<br> HIHYSO?: Polyol (g)<br> HIHYTA?: Starch (g)<br> JODI?: Iodine (µg)<br> KALIUM?: Potassium (mg)<br> KALSIU?: Calcium (mg)<br> KLORID?: Chloride (mg)<br> KOSTPI?: Moisture content %<br> KROMI?: Chrome (µg)<br> KUPARI?: Copper (mg)<br> KUIVPI?: Dry matter content %<br> KUITUA?: Nutritional fiber / 100g<br> KVITAM?: Vitamin K (µg)<br> LAKTOO?: Lactose / 100g<br> LIHAPI?: Meat/fish content %<br> MAGNES?: Magnesium (mg)<br> MANGAA?: Manganese (mg)<br> MAITPI?: Milk fat content %<br> MARJPI?: Berry- or fruit content %<br> MELAIS?: Dilution ratio % <br> MOLYB?: Molybdenum<br> NATPIT?: Sodium (g)<br> NIASIN?: Niacin (mg)<br> PANTOT?: Pantothenic acid (mg)<br> PROTEG?: Protein / 100g<br> RAAPAI?: Quantity of raw materials / 100g<br> RASKTY?: Monounsaturated (g)<br> RASMTY?: Polyunsaturated (g)<br> RASVAA?: Fat / 100g<br> RASVPI?: Fat content %<br> RAUTAA?: Iron (mg)<br> RAVITAM?: Vitamin A RDA<br> RB12VIT?: Vitamin B12 RDA<br> RB6VITA?: Vitamin B6 RDA<br> RBIOTII?: Biotin RDA<br> RCVITAM?: Vitamin C RDA<br> RDVITAM?: Vitamin D RDA<br> REVITAM?: Vitamin E RDA<br> RFLUORI?: Fluorine RDA<br> RFOOLIH?: Folic acid RDA<br> RFOSFOR?: Phosphorus RDA<br> RIBOFL?: Riboflavin (mg)<br> RJODI?: Iodine RDA<br> RKALIUM?: Potassium RDA<br> RKALSIU?: Calcium RDA<br> RKLORID?: Chloride RDA<br> RKROMI?: Chrome RDA<br> RKUPARI?: Copper RDA<br> RKVITAM?: Vitamin K RDA<br> RMAGNES?: Magnesium RDA<br> RMANGAA?: Manganese RDA<br> RMOLYB?: Molybdenum RDA<br> RNATPIT?: Sodium RDA<br> RNIASIN?: Niacin RDA<br> RPANTOT?: Pantothenic acid RDA<br> RRAUTAA?: Iron RDA<br> RRIBOFL?: Riboflavin RDA<br> RSELEEN?: Selenium RDA<br> RSINKKI?: Zinc RDA<br> RTIAMII?: Thiamine RDA<br> SELEEN?: Selenium (µg<br> SINKKI?: Zinc (mg)<br> SOKEPI?: Sugar content %<br> SOKERI?: Sugars / 100g<br> SUKLPI?: Cocoa content %<br> SUOLA?: Salt (g)<br> SUOLPI?: Salinity %<br> TAMEPI?: Juice content %<br> TIAMII?: Thiamine (mg)<br> TYYDPI?: Unsaturated fats %<br> TYYDRH?: Saturated fat / 100g<br> TAR_HIHYDR?: Measurement precision: carbohydrates<br> TAR_HIHYSO?: Measurement precision: polyol<br> TAR_HIHYTA?: Measurement precision: starch<br> TAR_KUITUA?: Measurement precision: nutritional fiber<br> TAR_LAKTOO?: Measurement precision: lactose<br> TAR_PROTEG?: Measurement precision: protein<br> TAR_RASKTY?: Measurement precision: monounsaturated<br> TAR_RASMTY?: Measurement precision: polyunsaturated<br> TAR_RASVAA?: Measurement precision: fat<br> TAR_SOKERI?: Measurement precision: sugars<br> TAR_SUOLA?: Measurement precision: salt<br> TAR_TYYDRH?: Measurement precision: saturated fat<br>\n",
          "additionalProperties": {
            "type": "object",
            "required": [
              "value"
            ],
            "properties": {
              "value": {
                "type": "array",
                "description": "Value or values",
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "value"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "string",
                        "decimal",
                        "date",
                        "dateTime"
                      ]
                    },
                    "value": {
                      "type": "string",
                      "description": "Value of the attribute",
                      "example": "2014-11-07T07:52:11+00:00"
                    },
                    "explanation": {
                      "type": "object",
                      "description": "**Note:** Based on current values in the database, strings are not always localized in the language that the attribute value would suggest. Eg. apparently product marketing names are stored in Finnish also in the `english` field.\n",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "ID of the value in question. Only used with `category` and `subcategory`.\n",
                          "example": "11"
                        },
                        "finnish": {
                          "type": "string",
                          "description": "Attribute value in Finnish",
                          "example": "Pirkka lihapullat"
                        },
                        "swedish": {
                          "type": "string",
                          "description": "Attribute value in Swedish",
                          "example": "Pirkka köttbullar"
                        },
                        "english": {
                          "type": "string",
                          "description": "Attribute value in English",
                          "example": "Pirkka meat balls"
                        }
                      }
                    },
                    "abbreviation": {
                      "type": "string",
                      "description": "Alternative value represented as an abbreviation\n",
                      "example": "XYZ"
                    }
                  }
                }
              },
              "explanation": {
                "type": "object",
                "description": "**Note:** Based on current values in the database, strings are not always localized in the language that the attribute value would suggest. Eg. apparently product marketing names are stored in Finnish also in the `english` field.\n",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID of the value in question. Only used with `category` and `subcategory`.\n",
                    "example": "11"
                  },
                  "finnish": {
                    "type": "string",
                    "description": "Attribute value in Finnish",
                    "example": "Pirkka lihapullat"
                  },
                  "swedish": {
                    "type": "string",
                    "description": "Attribute value in Swedish",
                    "example": "Pirkka köttbullar"
                  },
                  "english": {
                    "type": "string",
                    "description": "Attribute value in English",
                    "example": "Pirkka meat balls"
                  }
                }
              }
            }
          },
          "example": {
            "EAN11": {
              "value": {
                "type": "string",
                "value": "2000388200007"
              }
            },
            "TX_RAVOMI": {
              "value": [
                {
                  "type": "string",
                  "value": "60",
                  "explanation": {
                    "finnish": "Voi sisältää pähkinää"
                  }
                },
                {
                  "type": "string",
                  "value": "1",
                  "explanation": {
                    "finnish": "Alkoholiton"
                  },
                  "abbreviation": "NAC"
                }
              ],
              "explanation": {
                "finnish": "Ravitsemukselliset ominaisuudet"
              }
            }
          }
        },
        "pictureUrls": {
          "type": "object",
          "description": "**Important:** When displaying images in a UI you most probably want to add a scaling query parameter to the original url! Otherwise you might be downloading 100MB TIFF files in worst case. See Imgix API documentation for scaling guides: https://docs.imgix.com/apis/url\n",
          "required": [
            "original"
          ],
          "properties": {
            "original": {
              "type": "string",
              "description": "Url of to the original picture of the product. The image is huge.\n",
              "example": "http://public.keskofiles.com/k-ruoka/product/2000266700001"
            }
          }
        },
        "ingredientType": {
          "type": "object",
          "description": "Each product can have one ingredient type as a higher level category for the product. ingredientType object contains ingredient type id and name. They are defined in [Ingredients API](https://kesko.portal.azure-api.net/docs/services/ingredients).\n",
          "properties": {
            "id": {
              "type": "string",
              "description": "Ingredient type id",
              "example": "7218"
            },
            "name": {
              "type": "string",
              "description": "Ingredient type name",
              "example": "Täysmaito"
            }
          }
        },
        "pricingUnit": {
          "type": "string",
          "enum": [
            "kpl",
            "kg"
          ]
        },
        "popularity": {
          "type": "number",
          "description": "Popularity index, popular products have bigger number\n",
          "example": 158.5
        },
        "isAlcohol": {
          "type": "boolean",
          "description": "Indicates whether the product is considered alcohol or not. Determined by comparing product segment to OMS alcohol blacklist segment listing.\n",
          "example": true
        }
      }
    },
    "ProductAttributes": {
      "type": "object",
      "description": "A JSON object representing all possible attributes, that have been defined for a product. Every key in the object maps to product database attribute names.\n<br>In this interface, a value of a key is either an attribute object or an array of attribute objects.\nHere you can find the list of possible attributes. Attributes with their name ending with '?' might be missing from the responses, and this data might sometimes contain surprises.\n<br>\nEAN11: EAN code<br> MATKL: Product category number<br> PRODUCT_DESCRIPTION?: Product description<br> MAKTX?: Name, Finnish<br> MAKTXEN?: Name, English<br> MAKTXRU?: Name, Swedish<br> MAKTM_U?: Marketing name, Finnish<br> MAKTM_E?: Marketing name, English<br> MAKTM_V?: Marketing name, Swedish<br> MAKTE?: Some name field??<br> PDB_BLOCKING_CODE?: Blocking code<br> PDB_BLOCKING_CODE_DATE?: Blocking code effective date<br> ZZBRAND?: Brand<br> ZZSAISO?: Seasonality<br> ZZVENDOR?: Manufacturer<br> KUPAEAN11?: Transport unit EAN (like the EAN of whole box of sweets)<br> KUVPAI?: Product activity flag<br> LIFNR?: SAP vendor account number<br> INHAL?: Net contents<br> INHME?: Content unit<br> NTGEW?: Net weight<br> KAYMAA?: ????<br> KAYMAY?: ????<br> UMRE?: ????<br> STRAS?: Street address<br> PSTLZ?: Postal code<br> ORT01?: Name of city<br> LOCALITY_OF_MANUFACTURE?: Locality of manufacture<br> LAND1?: Country code<br> LANDX?: Country code in Finnish<br> MANUFA?: Country of manufacturer<br> WHERL?: Country of origin<br> INPP_U?: Recipe, Finnish<br> INPP_E?: Recipe, English<br> INPP_V?: Recipe, Swedish<br> MATERIAL_U?: Product ingredients description, Finnish<br> MATERIAL_E?: Product ingredients description, English<br> MATERIAL_V?: Product ingredients description, Swedish<br> TX_ADD_U?: Additive property, Finnish<br> TX_ADD_E?: Additive property, English<br> TX_ADD_V?: Additive property, Swedish<br> TX_CONT?: List of ingredients<br> TX_ERIOMI?: Special properties for non-food items<br> TX_KIEOMI?: Recycling emblems<br> TX_PAKMER?: Packaging emblems<br> TX_RAVOMI?: Nutritional properties<br> TX_YMPMER?: Responsibility emblems<br> LAST_CHANGE_DATE?: Change date<br> SYNDICATION_APPROVAL_DATE?: Approval date<br> ZZDISCODATE?: Product removed from market date<br> ZZENDDA?: New product release date<br> CAUTIONARY_INSTRUCTIONS?: Cautionary notes<br> HEATING_PREPARATION_INSTRUCTIONS?: Heating and preparation instructions<br> STORAGE_INSTRUCTIONS?: Storage instructions<br> USAGE_INSTRUCTIONS?: Usage instructions<br> ZCONUSE?: Storage and operating instructions<br> ALKPI?: Alcohol content %<br> AVITAM?: Vitamin A (µg)<br> B12VIT?: Vitamin B12 (µg)<br> B6VITA?: Vitamin B6 (mg)<br> BIOTII?: Biotin (µg)<br> CVITAM?: Vitamin C (mg)<br> DVITAM?: Vitamin D (µg)<br> EVITAM?: Vitamin E (µg)<br> ENERKC?: Energy content kcal/100g<br> ENERKJ?: Energy content kJ/100g<br> FLUORI?: Fluorine (mg)<br> FOOLIH?: Folic acid (µg)<br> FOSFOR?: Phosphorus (mg)<br> HIHYDR?: Carbohydrates / 100g<br> HIHYSO?: Polyol (g)<br> HIHYTA?: Starch (g)<br> JODI?: Iodine (µg)<br> KALIUM?: Potassium (mg)<br> KALSIU?: Calcium (mg)<br> KLORID?: Chloride (mg)<br> KOSTPI?: Moisture content %<br> KROMI?: Chrome (µg)<br> KUPARI?: Copper (mg)<br> KUIVPI?: Dry matter content %<br> KUITUA?: Nutritional fiber / 100g<br> KVITAM?: Vitamin K (µg)<br> LAKTOO?: Lactose / 100g<br> LIHAPI?: Meat/fish content %<br> MAGNES?: Magnesium (mg)<br> MANGAA?: Manganese (mg)<br> MAITPI?: Milk fat content %<br> MARJPI?: Berry- or fruit content %<br> MELAIS?: Dilution ratio % <br> MOLYB?: Molybdenum<br> NATPIT?: Sodium (g)<br> NIASIN?: Niacin (mg)<br> PANTOT?: Pantothenic acid (mg)<br> PROTEG?: Protein / 100g<br> RAAPAI?: Quantity of raw materials / 100g<br> RASKTY?: Monounsaturated (g)<br> RASMTY?: Polyunsaturated (g)<br> RASVAA?: Fat / 100g<br> RASVPI?: Fat content %<br> RAUTAA?: Iron (mg)<br> RAVITAM?: Vitamin A RDA<br> RB12VIT?: Vitamin B12 RDA<br> RB6VITA?: Vitamin B6 RDA<br> RBIOTII?: Biotin RDA<br> RCVITAM?: Vitamin C RDA<br> RDVITAM?: Vitamin D RDA<br> REVITAM?: Vitamin E RDA<br> RFLUORI?: Fluorine RDA<br> RFOOLIH?: Folic acid RDA<br> RFOSFOR?: Phosphorus RDA<br> RIBOFL?: Riboflavin (mg)<br> RJODI?: Iodine RDA<br> RKALIUM?: Potassium RDA<br> RKALSIU?: Calcium RDA<br> RKLORID?: Chloride RDA<br> RKROMI?: Chrome RDA<br> RKUPARI?: Copper RDA<br> RKVITAM?: Vitamin K RDA<br> RMAGNES?: Magnesium RDA<br> RMANGAA?: Manganese RDA<br> RMOLYB?: Molybdenum RDA<br> RNATPIT?: Sodium RDA<br> RNIASIN?: Niacin RDA<br> RPANTOT?: Pantothenic acid RDA<br> RRAUTAA?: Iron RDA<br> RRIBOFL?: Riboflavin RDA<br> RSELEEN?: Selenium RDA<br> RSINKKI?: Zinc RDA<br> RTIAMII?: Thiamine RDA<br> SELEEN?: Selenium (µg<br> SINKKI?: Zinc (mg)<br> SOKEPI?: Sugar content %<br> SOKERI?: Sugars / 100g<br> SUKLPI?: Cocoa content %<br> SUOLA?: Salt (g)<br> SUOLPI?: Salinity %<br> TAMEPI?: Juice content %<br> TIAMII?: Thiamine (mg)<br> TYYDPI?: Unsaturated fats %<br> TYYDRH?: Saturated fat / 100g<br> TAR_HIHYDR?: Measurement precision: carbohydrates<br> TAR_HIHYSO?: Measurement precision: polyol<br> TAR_HIHYTA?: Measurement precision: starch<br> TAR_KUITUA?: Measurement precision: nutritional fiber<br> TAR_LAKTOO?: Measurement precision: lactose<br> TAR_PROTEG?: Measurement precision: protein<br> TAR_RASKTY?: Measurement precision: monounsaturated<br> TAR_RASMTY?: Measurement precision: polyunsaturated<br> TAR_RASVAA?: Measurement precision: fat<br> TAR_SOKERI?: Measurement precision: sugars<br> TAR_SUOLA?: Measurement precision: salt<br> TAR_TYYDRH?: Measurement precision: saturated fat<br>\n",
      "additionalProperties": {
        "type": "object",
        "required": [
          "value"
        ],
        "properties": {
          "value": {
            "type": "array",
            "description": "Value or values",
            "items": {
              "type": "object",
              "required": [
                "type",
                "value"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "string",
                    "decimal",
                    "date",
                    "dateTime"
                  ]
                },
                "value": {
                  "type": "string",
                  "description": "Value of the attribute",
                  "example": "2014-11-07T07:52:11+00:00"
                },
                "explanation": {
                  "type": "object",
                  "description": "**Note:** Based on current values in the database, strings are not always localized in the language that the attribute value would suggest. Eg. apparently product marketing names are stored in Finnish also in the `english` field.\n",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the value in question. Only used with `category` and `subcategory`.\n",
                      "example": "11"
                    },
                    "finnish": {
                      "type": "string",
                      "description": "Attribute value in Finnish",
                      "example": "Pirkka lihapullat"
                    },
                    "swedish": {
                      "type": "string",
                      "description": "Attribute value in Swedish",
                      "example": "Pirkka köttbullar"
                    },
                    "english": {
                      "type": "string",
                      "description": "Attribute value in English",
                      "example": "Pirkka meat balls"
                    }
                  }
                },
                "abbreviation": {
                  "type": "string",
                  "description": "Alternative value represented as an abbreviation\n",
                  "example": "XYZ"
                }
              }
            }
          },
          "explanation": {
            "type": "object",
            "description": "**Note:** Based on current values in the database, strings are not always localized in the language that the attribute value would suggest. Eg. apparently product marketing names are stored in Finnish also in the `english` field.\n",
            "properties": {
              "id": {
                "type": "string",
                "description": "ID of the value in question. Only used with `category` and `subcategory`.\n",
                "example": "11"
              },
              "finnish": {
                "type": "string",
                "description": "Attribute value in Finnish",
                "example": "Pirkka lihapullat"
              },
              "swedish": {
                "type": "string",
                "description": "Attribute value in Swedish",
                "example": "Pirkka köttbullar"
              },
              "english": {
                "type": "string",
                "description": "Attribute value in English",
                "example": "Pirkka meat balls"
              }
            }
          }
        }
      },
      "example": {
        "EAN11": {
          "value": {
            "type": "string",
            "value": "2000388200007"
          }
        },
        "TX_RAVOMI": {
          "value": [
            {
              "type": "string",
              "value": "60",
              "explanation": {
                "finnish": "Voi sisältää pähkinää"
              }
            },
            {
              "type": "string",
              "value": "1",
              "explanation": {
                "finnish": "Alkoholiton"
              },
              "abbreviation": "NAC"
            }
          ],
          "explanation": {
            "finnish": "Ravitsemukselliset ominaisuudet"
          }
        }
      }
    },
    "Recipe": {
      "type": "object",
      "required": [
        "resourceType",
        "Id",
        "Name",
        "Url",
        "UrlSlug",
        "PortionCost",
        "Categories",
        "VideoUrl",
        "VideoEmbedUrl",
        "TrendWords",
        "SpecialDiets",
        "EnergyAmounts",
        "Ingredients",
        "Instructions",
        "EndNote",
        "Description",
        "Sort"
      ],
      "properties": {
        "resourceType": {
[...]
